.Rproj.user
.Rhistory
.RData
.Ruserdata
HongKong.Rproj
Scratch/
README.html
Materials/Day1/plot1
Materials/Day1/co2clean
images/.DS_Store
.DS_Store
Materials/Day2/Spatial_Data_in_R_cache
Materials/Day2/Movement_Data_Path_Metrics_cache
Materials/Day5/SelectionFunctions_cache
