---
layout: page
title: HKU Movement Ecology in R Workshop
subtitle: January 3-12, 2018
use-site-title: true
---

<h1 id="host">Host</h1>
    <p> A big thank you to <a href="https://www.hku-cetacean-ecology.net/leszek">Leszek Karczmarski</a> and the Hong Kong University Cetacaean Ecology Lab for being generous hosts of this workshop. </p>

<h1 id="contributers">Contributors</h1>
<ul>
  <li> Dana Paige Seidel </li>
  <li> Eric Dougherty </li>
  <li> <a href="https://nature.berkeley.edu/getzlab/">Wayne M. Getz</a></li>
</ul>

<h1 id="acknowledgements">Acknowledgements</h1>
<p> Much of this code is adapted from other resources produced by the <a href="https://twitter.com/search?q=%23rstats&amp;src=typd">#Rstats</a> community at large. We make an effort to cite these resources throughout our materials where appropriate but would like to specifically acknowledge the contributions of Andy Lyons, Brianna Abrahms, Clement Calenge, Hadley Wickham, Garrett Grolemund, Carl Boettiger, and Jamie Afflerbach that have influenced this workshop.</p>


{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
